<dialog id="create-sala-dialog">
    <form method="dialog">
        <section>
            <p>
                <label for="nome">Nome da sala:</label>
                <input id="nome"
                       name="nome"
                       type="text"
                       value="Teste" />
            </p>
            <p>
                <label for="numberOfPlayers">Número de Jogadores:</label>
                <input id="numberOfPlayers"
                       name="numberOfPlayers"
                       type="number"
                       value="2" />
            </p>
            <p>
                <label for="tracks">Número de Linhas e Colunas:</label>
                <input id="tracks"
                       name="tracks"
                       type="number"
                       value="4" />
            </p>
            <p>
                <label for="movesToWin">Número de Jogadas para ganhar:</label>
                <input id="movesToWin"
                       name="movesToWin"
                       type="number"
                       value="3" />
            </p>

        </section>
        <menu>
            <button id="cancel"
                    type="reset">Cancel</button>
            <button type="submit"
                    value="true">Confirm</button>
        </menu>
    </form>
</dialog>